*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: #882d18;
  height: 100vh;
}

.image{
margin-top:50px;
width:100%;

}

.App-logo{
height:450px;

}

.App-header{
left:12px;
position:relative;
top:40px;
color:white;
font-size:4rem;
font-family: 'Antic', sans-serif;
letter-spacing:12px;
}

.hr {
border-width:5px;
top: 70px;
}

.Address{
text-align:center;
position: relative;
top:50px;
color: #F2DCA1;
font-size: 1rem;
font-family: 'Open Sans', sans-serif;

}

.Links a{
margin-top:400px;
color: white;

}